html{
    scroll-behavior: smooth;
}

body{
    min-width: 600px;
}

.perfil{
    display: flex;
    flex-direction: column;
    min-height: 47rem;
    max-height: 77rem;
    margin-top: 66px;
}

@media screen and (max-width: 1051px){
    .perfil{
        margin-bottom: 40px;
    }
}

#habilidades{
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
    min-height: 20rem;
    max-height: 55rem;
}

#blog{
    min-height: 45rem;
    max-height: 100rem;
}

.title{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#habilidades{
    background-image: url("/assets/features-bg.jpg");
    background-size: cover;
    text-align: center;
}

#p{
    color: #fff;
}